

<div class="container">
    <a href="/">Voltar</a>
    {{!-- <a href="/cadastrar">Cadastrar ALuno</a> --}}
    <h1>Lista de Alunos</h1>

    {{#if dados.length}}
        <ul class="lista-alunos">
            {{#each dados}}
                <li class="aluno-item">
                    <span class="nome">{{nome}}</span>
                    <span class="linha-info">{{telefone}}</span>
                    <span class="linha-info">{{email}}</span>

                    <div class="acoes">
                        <a class="btn editar" href="/editar/{{id}}">Editar</a>
                        <a class="btn excluir" href="/deletar/{{id}}">Excluir</a>
                    </div>
                </li>
            {{/each}}
        </ul>
         <a href="/cadastrar">Cadastrar novo ALuno</a>
    {{else}}
        <p class="nenhum">Nenhum aluno cadastrado.</p>
    {{/if}}
</div>
